exec_timeout_secs: 3600

# Mark a failure as a system/bootstrap failure (purple box) rather then a task
# failure by default.
# Actual testing tasks are marked with `type: test`
command_type: system

# Ensure that setup and teardown is working as expected.
pre_error_fails_task: true
pre_timeout_secs: 1800 # 5 minutes
post_error_fails_task: true
post_timeout_secs: 1800 # 5 minutes

functions:
  "setup":
    - command: git.get_project
      params:
        directory: src
    - command: subprocess.exec
      params:
        binary: bash
        working_dir: "src"
        add_expansions_to_env: true
        args:
          - ./.evergreen/setup.sh
    - command: expansions.update
      params:
        file: src/expansion.yml

  "bootstrap mongo-orchestration":
    - command: subprocess.exec
      params:
        binary: bash
        add_expansions_to_env: true
        args:
          - ${DRIVERS_TOOLS}/.evergreen/run-orchestration.sh
    - command: expansions.update
      params:
        file: mo-expansion.yml

  "run unit tests":
    - command: subprocess.exec
      type: test
      params:
        binary: bash
        working_dir: "src"
        include_expansions_in_env: ["DRIVERS_TOOLS", "MONGODB_URI"]
        args:
          - ./.evergreen/run-tests.sh

  "teardown":
    - command: subprocess.exec
      params:
        binary: bash
        args:
          - ${DRIVERS_TOOLS}/.evergreen/teardown.sh

  # Encryption-specific functions
  "start csfle servers":
    - command: ec2.assume_role
      params:
        role_arn: ${aws_test_secrets_role}
    - command: subprocess.exec
      params:
        binary: bash
        include_expansions_in_env: [
            "AWS_SECRET_ACCESS_KEY",
            "AWS_ACCESS_KEY_ID",
            "AWS_SESSION_TOKEN",
        ]
        args:
          - ${DRIVERS_TOOLS}/.evergreen/csfle/setup.sh

  "teardown csfle":
    - command: subprocess.exec
      params:
        binary: bash
        args:
          - ${DRIVERS_TOOLS}/.evergreen/csfle/teardown.sh

  "run encryption tests":
    - command: subprocess.exec
      type: test
      params:
        binary: bash
        working_dir: "src"
        include_expansions_in_env: [
            "AWS_KMS_ARN",
            "DRIVERS_TOOLS",
            "MONGODB_URI",
            "DJANGO_SETTINGS_MODULE",
            "CRYPT_SHARED_LIB_PATH",
        ]
        args:
          - ./.evergreen/run-tests.sh
          - encryption

  # Performance test functions
  "run performance tests":
    - command: subprocess.exec
      type: test
      params:
        binary: bash
        working_dir: "src"
        include_expansions_in_env: [ "DRIVERS_TOOLS", "MONGODB_URI" ]
        args:
          - ./.evergreen/run-perf-tests.sh

  "attach performance test results":
    - command: attach.results
      params:
        file_location: src/report.json

  "send dashboard data":
    - command: subprocess.exec
      params:
        binary: bash
        args:
          - .evergreen/perf-submission-setup.sh
        working_dir: src
        include_expansions_in_env: [
          "requester",
          "revision_order_id",
          "project_id",
          "version_id",
          "build_variant",
          "parsed_order_id",
          "task_name",
          "task_id",
          "execution",
          "is_mainline"
        ]
      type: test
    - command: expansions.update
      params:
        file: src/expansion.yml
    - command: subprocess.exec
      params:
        binary: bash
        args:
          - .evergreen/perf-submission.sh
        working_dir: src
        include_expansions_in_env: [
          "requester",
          "revision_order_id",
          "project_id",
          "version_id",
          "build_variant",
          "parsed_order_id",
          "task_name",
          "task_id",
          "execution",
          "is_mainline"
        ]
      type: test

pre:
  - func: setup
  - func: bootstrap mongo-orchestration

post:
  - func: teardown

tasks:
  - name: run-tests
    commands:
      - func: "run unit tests"

  - name: run-encryption-tests
    commands:
      - func: "start csfle servers"
      - func: "run encryption tests"
      - func: "teardown csfle"

  - name: perf-tests
    commands:
      - func: "run performance tests"
      - func: "attach performance test results"
      - func: "send dashboard data"

buildvariants:
  - name: tests-7-noauth-nossl
    display_name: Run Tests 7.0 NoAuth NoSSL
    run_on: rhel87-small
    expansions:
      MONGODB_VERSION: "7.0"
      TOPOLOGY: server
      AUTH: "noauth"
      SSL: "nossl"
    tasks:
      - name: run-tests

  - name: tests-7-auth-ssl
    display_name: Run Tests 7.0 Auth SSL
    run_on: rhel87-small
    expansions:
      MONGODB_VERSION: "7.0"
      TOPOLOGY: server
      AUTH: "auth"
      SSL: "ssl"
    tasks:
      - name: run-tests

  - name: tests-8-noauth-nossl
    display_name: Run Tests 8.0 NoAuth NoSSL
    run_on: rhel87-small
    expansions:
      MONGODB_VERSION: "8.0"
      TOPOLOGY: server
      AUTH: "noauth"
      SSL: "nossl"
    tasks:
      - name: run-tests

  - name: tests-8-auth-ssl
    display_name: Run Tests 8.0 Auth SSL
    run_on: rhel87-small
    expansions:
      MONGODB_VERSION: "8.0"
      TOPOLOGY: server
      AUTH: "auth"
      SSL: "ssl"
    tasks:
      - name: run-tests

  - name: tests-8-qe-local
    display_name: Run Tests 8.2 QE local KMS
    run_on: rhel87-small
    expansions:
      MONGODB_VERSION: "8.2"
      TOPOLOGY: replica_set
      DJANGO_SETTINGS_MODULE: "encrypted_settings"
    tasks:
      - name: run-encryption-tests

  - name: tests-8-qe-aws
    display_name: Run Tests 8.2 QE AWS KMS
    run_on: rhel87-small
    expansions:
      MONGODB_VERSION: "8.2"
      TOPOLOGY: replica_set
      DJANGO_SETTINGS_MODULE: "encrypted_aws_settings"
    tasks:
      - name: run-encryption-tests

  - name: performance-benchmarks
    display_name: Performance Benchmarks
    run_on:
      - rhel90-dbx-perf-large
    batchtime: 1440
    tasks:
      - name: perf-tests
